@font-face {
    font-family: "Nintendo";
    src: url("./fonts/Pretendo.ttf")
}

@font-face {
    font-family: "GillSansMedium";
    src: url("./fonts/Gill Sans Medium.otf")
}

@font-face {
    font-family: "GillSansLight";
    src: url("./fonts/Gill Sans Light.otf")
}

@font-face {
    font-family: "GillSansLightItalic";
    src: url("./fonts/Gill Sans Light Italic.otf")
}

@font-face {
    font-family: "GillSansMediumItalic";
    src: url("./fonts/Gill Sans Medium Italic.otf")
}

@font-face {
    font-family: "GillSansBoldItalic";
    src: url("./fonts/Gill Sans Bold Italic.otf")
}

@font-face {
    font-family: "GillSansHeavyItalic";
    src: url("./fonts/Gill Sans Heavy Italic.otf")
}

@font-face {
    font-family: "GillSans";
    src: url("./fonts/Gill Sans.otf")
}

@font-face {
    font-family: "GillSansBold";
    src: url("./fonts/Gill Sans Bold.otf")
}

@font-face {
    font-family: "Righteous-Regular";
    src: url("./fonts/Righteous-Regular.ttf")
}